<div class="container text-start" style="width:30rem;">
  {{#if shortURL}}
  <h3>Success! Please use this link:</h3>
  <a id="generatedURL" class="shortURL" style="text-decoration: none;">{{origin}}/{{shortURL}}</a>
  <br>
  <div class="text-center">
    <button class="copy btn btn-primary m-2" onclick="copy()">Copy</button>
  </div>
  <script>
    function copy() {
      const URL = document.getElementById("generatedURL")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>
  {{else}}
  <form action="/" method="POST">
    <input class="form-control" type="url" name="url" placeholder="Input URL here" style="background-color:#F5F5F5"
      required>
    <div class="text-center">
      <button class="btn btn-outline-primary mt-4" type="submit" style="width:50%;">Shorten</button>
    </div>
  </form>
  {{/if}}
</div>