<div class="container text-center" style="width:30rem;">
  {{#if shortURL}}
  <h3>Success! Please use this link:</h3>
  <a href="/">{{origin}}/{{shortURL}}</a>
  <button type="button" class="copy btn btn-primary mt-4">Copy</button>
  {{else}}
  <form action="/" method="POST">
    <input class="form-control" type="url" name="url" placeholder="Input URL here" style="background-color:#F5F5F5"
      required>
    <button class="btn btn-outline-primary mt-4" type="submit" style="width:50%;">Shorten</button>
  </form>
  {{/if}}
</div>